<h1>{{ title }}</h1>	
<nav class="navbar navbar-default" role="navigation" ng-if="!examId">
	<div class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav">
			<li><a href="#/month/{{ prevMonth | date : 'yyyy-MM-dd' }}"><span class="glyphicon glyphicon-chevron-left"></span>	Mese precedente ({{ prevMonth | date : 'MMMM yyyy' }})</a></li>
            <li><a href="#/calendar"><span class="glyphicon glyphicon-chevron-up"></span> Conteggio sessioni</a></li>
		</ul>

		<ul class="nav navbar-nav navbar-right">
			<li><a href="#/month/{{ nextMonth | date : 'yyyy-MM-dd' }}">Mese seguente ({{ nextMonth | date : 'MMMM yyyy' }}) <span class="glyphicon glyphicon-chevron-right"></span></a></li>
		</ul>
	</div><!-- /.navbar-collapse -->
</nav>
<p ng-if="examId">
	<button class="btn btn-xs btn-primary" ng-click="showModal(examId)"><span class="glyphicon glyphicon-info-sign"></span> Info...</button>
</p>
<table class="table">
	<thead>
		<tr>
			<th></th>
			<th>Id</th>
			<th ng-if="!examId">Titolo esame</th>
			<th>Data</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="session in sessions | orderBy : 'date' : true ">
			<td><img class="img-circle" ng-src="http://lorempixel.com/40/40/abstract/{{ $index % 10 }}" /></td>
			<td>{{ session.id }}</td>
			<td ng-if="!examId">{{ session.exam.title }}</td>
			<td>{{ session.date | date : 'dd/MM/yyyy' }}</td>
		</tr>
		<tr colspan="{{ examId ? 3 : 4 }}" ng-if="!sessions.length">
			<td><em>Nessuna sessione</em></td>
		</tr>
	</tbody>
</table>
